.contact-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .contact-container {   
        flex-direction: column;
    }
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

th[scope="row"] {
    background-color: #ddd;
}

caption {
    padding: 10px;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    width: 100%;
}